{% extends 'template.html' %}

{% block content %}
<script type='text/javascript' src="../js/page_source.js"></script>
<link rel="stylesheet" type="text/css" href="../css/page_source.css">
<div style="flex: 1;">


    <div class="headerpanel" id="laser_header"></div>
    <div class="content">
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="headerpanel" id="material_header"></div>
    <div class="content">
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="headerpanel" id="plot_header"></div>
    <div class="content" style="display: none;">
        <canvas></canvas>
    </div>
</div>

{% endblock %}
 